@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    @apply flex flex-col mx-auto pr-[64px] pl-[64px] max-w-[1536px];
  }

  @screen 2xl {
    .container {
      @apply max-w-[1240px];
    }
  }
}

body {
  margin: 0;
  width: 100%;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
